{% extends 'layout.html' %}

{% block content %}

{% include "./partials/navigation.html" %}

<div class="container">
	<h1>Your Activities</h1>
	<p> View your trade requests and requests awaiting approval from you.</p>
	
	<div class="row">
		<div class="col-sm-6"><h3>My Requests</h3>
		{% for book in requestedBooks%}
			<img src = {{book.thumbnail}} class="img-thumbnail" alt="Cinque Terre">
		{% endfor %}
		</div>
		<div class="col-sm-6"><h3>Requests awaiting approval</h3>
			{% for book in booksAwaitingApproval %}
					<img src = {{book.thumbnail}} class="img-thumbnail" alt="Cinque Terre">
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
