{% extends 'layout.html' %}

{% block content %}

{% include "./partials/navigation.html" %}
<div class = "container">
	<div class = "text-center">
	<h1>BOOK TRADING CLUB</h1>
	<p class="lead">A platform for you to explore, borrow and share your books.</p>



	<!-- IF THERE ARE ANY BOOKS, DISPLAY ON PAGE-->	
	{% if (books) %}
		{% for book in books %}
			{% if loop.index % 6 == 0 %}
			        <div class="row">
			    {% endif %}

			    <div class="col-sm-2"><img src = {{book.thumbnail}} class="img-thumbnail" alt="Cinque Terre"></div>

			    {% if (loop.index % 6 == 0 or loop.last) %}
			        </div>
			{% endif %}

		{% endfor %}
	{% endif }	
	


	</div>
</div>

{% endblock %}