{% extends 'layout.html' %}

{% block content %}

{% include "./partials/navigation.html" %}

<div class="container">
	  <h1>ADD A BOOK </h1> 
	  <p>Add your own book to share with others</p> 
	  
	  <form action = "/searchBook" method="post" class="form-inline">
	    <div class="input-group">
	      <input type="text" class="form-control" size="50" placeholder="Title, Author or ISBN" name = "bookQuery">
	      <div class="input-group-btn">
	        <button type="submit" class="btn btn-danger">Search</button>
	      </div>
	    </div>
	  </form>

  	{%if books%}
  		{% for book in books%}
  			<div class="list-group-item">
  				<div class="row">
  					<div class="col-sm-2">
  						<img src= {{book.thumbnail}} class="img-thumbnail" alt="Cinque Terre">
  					</div>
  					<div class="col-sm-10">

  						<div><h3><strong>{{book.title}}</strong></h3></div>
  						<div><h6>{{book.authors}}</h6></div>
  						<div><p>{{book.description}}</p></div>

  						<form action = "/addBook" method="post">
  							<input type = "hidden" name = "id"  value = '{{book.id}}'>
                <input type = "hidden" name = "title"  value = '{{book.title}}'>
                <input type = "hidden" name = "memberName"  value = '{{user.username}}'>
                <input type = "hidden" name = "thumbnail"  value = '{{book.thumbnail}}'>
  							<div><button type="submit" class="btn btn-primary">Add Book</button></div>
  						</form>

  					</div>
  				</div>
  			</div>
  		{% endfor%}
  	{% endif %}
  </div>
</div>
  

{% endblock %}





